<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Documentation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>LiveCourse.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>mogenerator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9FE2BB861A5A271A00978DC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FE2BB9F1A5A271A00978DC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FE2BD751A5A352800978DC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FE2BE381A5A377800978DC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
